
#bag {
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url(./img/bag.png) center no-repeat;
    background-size: 80%;
}

#bag.burst {
    background: url(./img/bag-burst.png) center no-repeat;
    background-size: 80%;
}

#bag-health {
    margin: 0 auto 20px auto;
    width: 200px;
    border: 2px solid #000;

}

#bag-health div{
    height: 20px;
    background: crimson;
}

#controls {
    margin: 0 auto;
    width: 120px;
}